$color1:  #a9872f;
$color2:#FFFF;
$color3:rgb(13, 143, 143);
$color4:rgb(185, 113, 113);
$color5:rgb(69, 68, 68);

$primaryColor: #0D143B;
$secondaryColor: #2E7C93;
$fontPrimary: #fff;
$fontSecondary: #000;
$buttonColor: #094072;
$backgroundColor: #ecf0f1;
$placeholderColor: #999;
$buttonBorderRadius: 0;
$navBackground:#2E7C93;
$forumTablebackground:#f0f0f0;
$footerColor:#0D143B;
$arrowColor:#1f4a92;
$gallerytitlecard:#0053a671;
$backgroundHome:linear-gradient(360deg, #0D143B 0.42%, #0D143B 15.52%, rgba(16, 21, 50, 0.33) 100%, rgba(16, 21, 50, 0) 100%);


$whiteBackground: #FFF;
$asideActiveBackground : #000;
$asideNotActiveBackground: #D9D9D9;
$adminButtonBackground: #000;
$adminFontSecondary:#999;
$adminFontPrimary:#000;
$verifiedAdminBox: #008000;
$errorcolor: #ff0000;
$pendingAdminBox: #ffa500;
$fontSecondary2:#ffa500;
$secondaryBackground:#999;
